.night-mode .stats .rd__h--class-feature-variant,
.stats .rd__h--class-feature-variant {
	color: #e6ab94 !important;
	border-bottom-color: #e6ab94 !important;
}

.night-mode .stats .rd__h--class-feature-variant .rd__title-link,
.stats .rd__h--class-feature-variant .rd__title-link {
	color: #e6ab94 !important;
	opacity: 1;
}
